[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"

[dev-packages]
mypy = "*"
v = {version = "*", editable = true}

[requires]
python_version = "3.7"
